/Lab3/Ejercicio19lab3/nbproject/private/
/Lab3/Ejercicio19lab3/build/
/Lab3/Ejercicio20Lab3/nbproject/private/
/Lab3/Ejercicio20Lab3/build/
/Lab3/Ejercicio21Lab3/nbproject/private/
/Lab3/Ejercicio21Lab3/build/
/Lab3/Ejercicio22Lab3/nbproject/private/
/Lab3/Ejercicio22Lab3/build/
/Lab3/Ejercicio23Lab3/nbproject/private/
/Lab3/Ejercicio23Lab3/build/
/Lab3/Ejercicio24Lab3/nbproject/private/
/Lab3/Ejercicio24Lab3/build/
/Lab3/Ejercicio25Lab3/nbproject/private/
/Lab3/Ejercicio25Lab3/build/
/Lab3/Ejercicio26Lab3/nbproject/private/
/Lab3/Ejercicio26Lab3/build/
